:root{
  /* Color pallet */
  --blue1: #0b1f5c;
  --blue2: #003e7c;
  --blue3: #005e98;
  --blue4: #007eae;
  --blue5: #009fc0;
  --blue6: #1ebfce;
  --blue7: #62dfda;
  --blue8: #99ffe5;

  --main-bg-color: var(--blue2);
  --main-font-color: #fffbf7;

  --link-font-color: white;

}


html{
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
}

h1{
  font-size: 4em;
}
.main-content p {
  font-size: 30px;
}





/*Navigation Section: */
.nav-block {
  width: max-content;

  --nav-color: var(--blue1); /*changes the background color and border color */
  background-color: var(--nav-color);
  color: var(--main-font-color);

  border: 10px solid var(--nav-color);
  border-radius: 15px;
  margin-top: 35px;
  margin-left: 10px;


}

.nav-link {
  display: inline;
  font-size: 20px;
}
.nav-link a {
  color: var(--link-font-color);
  text-decoration: none;
}
.nav-link a:visited {
  color: var(--link-font-color);
}
.nav-link a:hover {
  color: var(--link-font-color);
  text-decoration: underline;
}
.nav-link a:active {
  color: var(--link-font-color);
}

.main-content {
  width: 80vw;

  margin-left: auto;
  margin-right: auto;
}

.welcome {
  text-align: right;
}



